# Initialization
	on property:sys.boot_completed=1
	exec u:r:init:s0 root root -- /init.spectrum.sh
	exec u:r:su:s0 root root -- /init.spectrum.sh
	setprop spectrum.support 1

# Ultra Battery
	on property:persist.morpho.profile=1
		write /sdcard/selected-profile 1
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_governor ####
		write /sys/devices/system/cpu/cpu####/cpufreq/#governor#/#tunables# ####
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_max_freq ####
		write /sys/module/workqueue/parameters/power_efficient ####
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk ####
		write /sys/class/kgsl/kgsl-3d0/devfreq/governor ####
		write /sys/module/adreno_idler/parameters/adreno_idler_active ####
		write /dev/cpuset/background/cpus ####
		write /dev/cpuset/camera-daemon/cpus ####
		write /dev/cpuset/foreground/cpus ####
		write /dev/cpuset/restricted/cpus ####
		write /dev/cpuset/system-background/cpus ####

# Battery
	on property:persist.morpho.profile=2
		write /sdcard/selected-profile 2
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_governor ####
		write /sys/devices/system/cpu/cpu####/cpufreq/#governor#/#tunables# ####
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_max_freq ####
		write /sys/module/workqueue/parameters/power_efficient ####
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk ####
		write /sys/class/kgsl/kgsl-3d0/devfreq/governor ####
		write /sys/module/adreno_idler/parameters/adreno_idler_active ####
		write /dev/cpuset/background/cpus ####
		write /dev/cpuset/camera-daemon/cpus ####
		write /dev/cpuset/foreground/cpus ####
		write /dev/cpuset/restricted/cpus ####
		write /dev/cpuset/system-background/cpus ####
		
# Balanced
	on property:persist.morpho.profile=3
		write /sdcard/selected-profile 3
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_governor ####
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_max_freq ####
		write /sys/module/workqueue/parameters/power_efficient ####
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk ####
		write /sys/class/kgsl/kgsl-3d0/devfreq/governor ####
		write /sys/module/adreno_idler/parameters/adreno_idler_active ####
		write /dev/cpuset/background/cpus ####
		write /dev/cpuset/camera-daemon/cpus ####
		write /dev/cpuset/foreground/cpus ####
		write /dev/cpuset/restricted/cpus ####
		write /dev/cpuset/system-background/cpus ####
		
# Performance
	on property:persist.morpho.profile=4
		write /sdcard/selected-profile 4
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_governor ####
		write /sys/devices/system/cpu/cpu####/cpufreq/#governor#/#tunables# ####
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_max_freq ####
		write /sys/module/workqueue/parameters/power_efficient ####
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk ####
		write /sys/class/kgsl/kgsl-3d0/devfreq/governor ####
		write /sys/module/adreno_idler/parameters/adreno_idler_active ####
		write /dev/cpuset/background/cpus ####
		write /dev/cpuset/camera-daemon/cpus ####
		write /dev/cpuset/foreground/cpus ####
		write /dev/cpuset/restricted/cpus ####
		write /dev/cpuset/system-background/cpus ####
				
# Gaming
	on property:persist.morpho.profile=5
		write /sdcard/selected-profile 5
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_governor ####
		write /sys/devices/system/cpu/cpu####/cpufreq/#governor#/#tunables# ####
		write /sys/devices/system/cpu/cpu####/cpufreq/scaling_max_freq ####
		write /sys/module/workqueue/parameters/power_efficient ####
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk ####
		write /sys/class/kgsl/kgsl-3d0/devfreq/governor ####
		write /sys/module/adreno_idler/parameters/adreno_idler_active ####
		write /dev/cpuset/background/cpus ####
		write /dev/cpuset/camera-daemon/cpus ####
		write /dev/cpuset/foreground/cpus ####
		write /dev/cpuset/restricted/cpus ####
		write /dev/cpuset/system-background/cpus ####
		
# Common
	on property:persist.spectrum.profile=0
	# Online CPUs
		####
		####
		####
		####...
	# Boosts
		write /sys/module/cpu_boost/parameters/input_boost_enabled 0
		write /sys/module/cpu_boost/parameters/input_boost_freq ####
		write /sys/module/msm_performance/parameters/touchboost 0
		write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 0
		write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 0
		write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 0
		write /dev/stune/schedtune.sched_boost 0
		write /dev/stune/top-app/schedtune.sched_boost 0
		write /dev/stune/foreground/schedtune.sched_boost 0
		write /dev/stune/background/schedtune.sched_boost 0
		write /dev/stune/rt/schedtune.sched_boost 0
		write /sys/module/cpu_boost/parameters/input_boost_ms 0
		write /sys/module/cpu_input_boost/parameters/input_boost_duration 0
	# Thermals
		write /sys/kernel/msm_thermal/enabled 0
		write /sys/module/msm_thermal/core_control/enabled 0
		write /sys/module/msm_thermal/vdd_restriction/enabled 0
		write /sys/module/msm_thermal/parameters/enabled N
	# Kernel Samepage Merging
		write /sys/kernel/mm/ksm/run 0
		write /sys/kernel/mm/uksm/run 0
	# I/O Scheduler
		setprop sys.io.scheduler maple
		write /sys/block/sda/queue/iostats 0
		write /sys/block/sda/queue/read_ahead_kb 256
		write /sys/block/sda/queue/scheduler maple
		write /sys/block/sde/queue/iostats 0
		write /sys/block/sde/queue/read_ahead_kb 256
		write /sys/block/sde/queue/scheduler maple
		write /sys/block/dm-0/queue/iostats 0
		write /sys/block/dm-0/queue/read_ahead_kb 256
		write /sys/block/dm-0/queue/scheduler maple
	# Low Memory Killer
		write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
		write /sys/module/lowmemorykiller/parameters/minfree 2560,3840,20688,25600,32000,38400
	# Virtual Memory
		write /proc/sys/vm/swappiness 30
	# Entropy
		write /proc/sys/kernel/random/read_wakeup_threshold 1024
		write /proc/sys/kernel/random/write_wakeup_threshold 2048
	# Undebug
		write /sys/module/earlysuspend/parameters/debug_mask 0
		write /sys/module/alarm/parameters/debug_mask 0
		write /sys/module/alarm_dev/parameters/debug_mask 0
		write /sys/module/binder/parameters/debug_mask 0
		write /sys/devices/system/edac/cpu/log_ce 0
		write /sys/devices/system/edac/cpu/log_ue 0
		write /sys/module/binder/parameters/debug_mask 0
		write /sys/module/bluetooth/parameters/disable_ertm Y
		write /sys/module/bluetooth/parameters/disable_esco Y
		write /sys/module/debug/parameters/enable_event_log 0
		write /sys/module/dwc3/parameters/ep_addr_rxdbg_mask 0 
		write /sys/module/dwc3/parameters/ep_addr_txdbg_mask 0
		write /sys/module/edac_core/parameters/edac_mc_log_ce 0
		write /sys/module/edac_core/parameters/edac_mc_log_ue 0
		write /sys/module/glink/parameters/debug_mask 0
		write /sys/module/hid_apple/parameters/fnmode 0
		write /sys/module/hid_magicmouse/parameters/emulate_3button N
		write /sys/module/hid_magicmouse/parameters/emulate_scroll_wheel N
		write /sys/module/ip6_tunnel/parameters/log_ecn_error N
		write /sys/module/lowmemorykiller/parameters/debug_level 0
		write /sys/module/msm_show_resume_irq/parameters/debug_mask 0
		write /sys/module/msm_smd/parameters/debug_mask 0
		write /sys/module/msm_smem/parameters/debug_mask 0 
		write /sys/module/otg_wakelock/parameters/enabled N 
		write /sys/module/service_locator/parameters/enable 0 
		write /sys/module/sit/parameters/log_ecn_error N
		write /sys/module/smem_log/parameters/log_enable 0
		write /sys/module/smp2p/parameters/debug_mask 0
		write /sys/module/sync/parameters/fsync_enabled N
		write /sys/module/touch_core_base/parameters/debug_mask 0
		write /sys/module/usb_bam/parameters/enable_event_log 0
		write /sys/module/printk/parameters/console_suspend Y
		write /proc/sys/debug/exception-trace 0
		write /sys/kernel/printk_mode/printk_mode 0
	# Wakelocks
		write /sys/class/misc/boeffla_wakelock_blocker/wakelock_blocker "wlan_pno_wl;wlan_ipa;wcnss_filter_lock;[timerfd];hal_bluetooth_lock;IPA_WS;sensor_ind;wlan;netmgr_wl;qcom_rx_wakelock;wlan_wow_wl;wlan_extscan_wl;NETLINK"
		write /sys/module/smb135x_charger/parameters/use_wlock N
		write /sys/module/xhci_hcd/parameters/wl_divide N
		write /sys/module/bcmdhd/parameters/wlctrl_divide N
		write /sys/module/bcmdhd/parameters/wlrx_divide N
		write /sys/module/wakeup/parameters/enable_bluesleep_ws N
		write /sys/module/wakeup/parameters/enable_si_wsk N
		write /sys/module/wakeup/parameters/enable_smb135x_wake_ws N
		write /sys/module/smb135x_charger/parameters/use_wlock N
		write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws N
		write /sys/module/wakeup/parameters/enable_wlan_ws N
		write /sys/module/wakeup/parameters/enable_wlan_wow_wl_ws N
		write /sys/module/wakeup/parameters/enable_wlan_wake_ws N
		write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws N
		write /sys/module/wakeup/parameters/enable_wlan_extscan_wl_ws N
		write /sys/module/wakeup/parameters/enable_timerfd_ws N
		write /sys/module/wakeup/parameters/enable_qcom_rx_wakelock_ws N
		write /sys/module/wakeup/parameters/enable_netmgr_wl_ws N
		write /sys/module/wakeup/parameters/enable_netlink_ws N
		write /sys/module/wakeup/parameters/enable_ipa_ws N
		write /sys/module/wakeup/parameters/enable_bluedroid_timer_ws N
		write /sys/module/wakeup/parameters/enable_si_ws N
		write /sys/module/wakeup/parameters/enable_si_ws N
		write /sys/module/wakeup/parameters/enable_msm_hsic_ws N
		write /sys/module/wakeup/parameters/wlan_rx_wake N
		write /sys/module/wakeup/parameters/wlan_ctrl_wake N
		write /sys/module/wakeup/parameters/wlan_wake N
		write /sys/module/wakeup/parameters/enable_wcnss_filter_lock_ws N
		write /sys/module/wakeup/parameters/enable_wlan_pno_wl_ws N
		write /sys/module/wakeup/parameters/enable_wlan_ipa_ws N
		write /sys/module/wakeup/parameters/enable_bluetooth_timer Y
		write /sys/module/bcmdhd/parameters/wlctrl_divide 8
		write /sys/module/bcmdhd/parameters/wlrx_divide 8
	# Darkness Tweaks (test)
		setprop dalvik.vm.dex2oat-threads 4
		setprop dalvik.vm.image-dex2oat-threads 4
		setprop debug.generate-debug-info false
		setprop ro.data.large_tcp_window_size true
		setprop ro.sys.fw.dex2oat_thread_count 4
		setprop ro.sys.sdcardfs true
		setprop sys.use_fifo_ui 1
	# Selected Profile
		if [ /sdcard/selected-profile == 1] then
			setprop persist.morpho.profile 1
		if [ /sdcard/selected-profile == 2] then
			setprop persist.morpho.profile 2
		if [ /sdcard/selected-profile == 3] then
			setprop persist.morpho.profile 3
		if [ /sdcard/selected-profile == 4] then
			setprop persist.morpho.profile 4
		if [ /sdcard/selected-profile == 5] then
			setprop persist.morpho.profile 5
